<nav aria-label="Page navigation example">
	{% if pages > 2 %}
		<ul class="pagination">
			<li class="page-item">
				<a class="page-link" href="#">
					Previous
				</a>
			</li>

			{% if show_numbers %}
				{% for i in 1..pages %}
					<li class="page-item">
						<a class="page-link" href="#">{{ i }}</a>
					</li>
				{% endfor %}
			{% endif %}

			<li class="page-item">
				<a class="page-link disabled" href="#">
					Next
				</a>
			</li>
		</ul>
	{% endif %}
</nav>
