<div class="page-content {{ classes }}">
	{% if components %}
		{% for component in components %}
			<div class="page-component-wrapper">
				{% render '@component-' ~ component %}
			</div>
		{% endfor %}
	{% endif %}
</div>
