{#
	{% include "@component-card--feature" with {
			"link": {
				"aria_label": "",
				"label": "Link Text",
				"url": "#",
				"icon": ""
			},
			"title": "Card title",
			"text": "Some quick example text to build on the card title and make up the bulk of the card's content."
		}
	%}
#}
<div class="card card-image">

	<div
		class="card-thumbnail">
		<!-- wp:get_the_post_thumbnail -->
		{% render "@content-picture" with item.image %}
		<!-- /wp:get_the_post_thumbnail -->
	</div>

	<div class="card-body">

		<div
			class="card-categories">
			<!-- wp:the_category -->
			{% render '@partials-link' with {
				classes:'text-uppercase',
				icon: '',
				title: item.categories,
			} %}
			<!-- /wp:the_category -->
		</div>

		<h3
			class="card-title h2">
			<!-- wp:get_the_title -->
			{% render '@partials-link' with {
				classes:'',
				icon: '',
				title: item.title,
			} %}
			<!-- /wp:get_the_title -->
		</h3>

		<p
			class="card-text mb-2">
			<!-- wp:get_the_excerpt -->
			{{ item.description }}
			<!-- /wp:get_the_excerpt -->
		</p>

		<div class="card-meta d-flex gap-2 small">

			<div
				class="card-author">
				<!-- wp:the_date -->
				{% render "@partials-author" with item.meta.author %}
				<!-- /wp:the_date -->
			</div>
			<div
				class="card-date">
				<!-- wp:the_date -->
				{% render "@partials-date" with item.meta.date %}
				<!-- /wp:the_date -->
			</div>

		</div>

	</div>
</div>
