{#
	{% include "@component-card--feature" with {
			"link": {
				"aria_label": "",
				"label": "Link Text",
				"url": "#",
				"icon": ""
			},
			"title": "Card title",
			"text": "Some quick example text to build on the card title and make up the bulk of the card's content."
		}
	%}
#}
<div class="card card-image {{ classes }}">

	<p class="card-categories">
		{% if item.categories %}
			{% render '@partials-link' with {
				classes:'text-uppercase',
				icon: '',
				title: item.categories,
				rel:'tag'
			} %}
		{% endif %}
	</p>

	{% if item.image %}
		{% render "@content-picture" with item.image  %}
	{% endif %}

	<div class="card-body">

		<h3 class="card-title">
			{% render '@partials-link' with {
				classes:'',
				icon: '',
				title: title,
				rel:''
			} %}
		</h3>

		{% if item.meta.author %}
			<div class="card-author text-body-tertiary">
				{% render "@partials-author" with item.meta.author %}
			</div>
		{% endif %}

		{% if item.description %}
			<p class="card-text">{{ item.description }}</p>
		{% endif %}

	</div>
</div>
