{#
	{% render "@component-grid" with {
		component_name: 'component-card--image',
		classes: '',
		columns: '3',
		items: articles,
		type: '3'
	} %}
#}


<div class="grid-container">
	{% if title %}
		<div class="row">
			<div class="col">
				<h2 class="grid-container--title">{{ title }}</h2>
			</div>
		</div>
	{% endif %}
	<div class="row row-cols-2">
		<!-- wp:the_loop -->
		<!-- wp:get_template_part(@component-card) -->
			{% for item in items %}

		{% render "@" ~ component_name with item %}

	{% endfor %}
		<!-- /wp:get_template_part -->
		<!-- /wp:the_loop -->
	</div>

</div>
