<div class="page-content typography">

	<p>The quote block has two styles,&nbsp;regular:</p>


	<blockquote class="wp-block-quote is-layout-flow wp-block-quote-is-layout-flow">
		<p>Gutenberg is more than an editor.</p>
		<cite>The Gutenberg Team<br></cite>
	</blockquote>


	<p>and large:</p>


	<blockquote class="wp-block-quote is-style-large is-layout-flow wp-block-quote-is-layout-flow">
		<p><br>Yes, it is a press, certainly, but a press from which shall flow in inexhaustible streams, the most abundant and most marvelous liquor that has ever flowed to relieve the thirst of men! Through it, God will spread His Word. A spring of truth shall flow from it: like a new star it shall scatter the darkness of ignorance, and cause a light heretofore unknown to shine amongst men.<br></p>
		<cite><br><em>Johannes Gutenberg</em><br></cite>
	</blockquote>


	<p>The quote blocks themselves has no alignments but the text can be aligned, bold, italic, and linked:</p>


	<blockquote style="text-align:right" class="wp-block-quote is-layout-flow wp-block-quote-is-layout-flow">
		<p>
			<strong>
				<em>
					<a href="https://wordpress.org/gutenberg/">Right</a>
				</em>
			</strong>
		</p>
		<cite>Theme Review<br></cite>
	</blockquote>


	<p>In addition to the quote block, we also have the
		<em>pull quote</em>, with a regular and a solid color style.</p>


	<p>You can change the color of the border and the text with the regular style:</p>


	<figure class="wp-block-pullquote is-style-default" style="border-color:#cf2e2e">
		<blockquote class="has-text-color has-very-dark-gray-color">
			<p><br>In addition to the quote block, we also have the&nbsp;pull quote</p>
			<cite>Theme reviewer<br></cite>
		</blockquote>
	</figure>


	<p>Or change the background color and text color with the solid color style:</p>


	<figure class="wp-block-pullquote has-cyan-bluish-gray-background-color is-style-solid-color">
		<blockquote class="has-text-color has-very-dark-gray-color">
			<p>a solid color style</p>
			<cite>Theme Reviewer</cite>
		</blockquote>
	</figure>
</div>
