<span
	class="date">
	<!-- wp:the_date -->
	{% if modified %}
		<time class="updated modified">
			{{ modified|date('M j Y') }}</time>
	{% endif %}
	<time class="published">
		{{ date|date('M j Y') }}</time>
	<!-- /wp:the_date -->
</span>
