{% render "@layouts-header" with page.header %}
<main>
	<section class="container my-5">
		<h1 class="text-uppercase mb-5">{{ page.title}}</h1>
		{% render "@component-grid--two-columns" with articles_list %}
	</section>
</main>
{% render "@layouts-footer" with page.footer %}
