// Root, Variables, Mixins
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-brands/css/uicons-brands.css');
@import 'base/bootstrap/bootstrap';
@import 'base/layouts';
@import 'base/main';
@import 'base/wordpress';
@import 'icons/**/*';
@import 'templates/**/*';
.container-overlay {
	position: fixed;
	inset: 0;
	height: 100%;
	width: 100%;

	pointer-events: none;
	[class*='component-'] & {
		.container {
			max-width: 100%;
		}
	}
	.container,
	.row,
	.col {
		height: 100%;
	}
	.col-content {
		background-color: #{$red};
		border: 1px solid #{$red-300};
		height: 100%;
		opacity: 0.3;
	}
}
