<div
	class="page-header">

	<!-- wp:the_category -->
	<ul class="page-categories">

		{% render '@partials-link' with {
			aria_label: '',
			classes:'',
			icon: '',
			icon_height:16,
			icon_width:16,
			modifier:'',
			title: categories,
			url: '#',
			wrapper_classes:'',
			rel:'category'
		} %}

	</ul>
	<!-- /wp:the_category -->
	<h1
		class="display-3 fw-bolder">
		<!-- wp:get_the_title -->
		{{ title }}
		<!-- /wp:get_the_title -->
	</h1>

	<p class="lead">{{ excerpt }}</p>

	<div class="page-meta-wrapper">
		{% render "@partials-article-meta" with {
			author: author,
			date: date
		} %}
	</div>

</div>
