<div
	class="page-thumbnail">
	<!-- wp:get_the_post_thumbnail -->
	{% render "@content-figure" with {
		classes:classes,
		image: {
			alt: image.alt,
			classes:image.classes,
			id:image.id,
			loading: image.loading,
			size: image.size,
			sources: image.sources,
			src: image.src
		}

	} %}
	<!-- /wp:get_the_post_thumbnail -->
</div>
