{#
	{% include "@component-list-item" with {
			"link": {
				"aria_label": "",
				"label": "Link Text",
				"url": "#",
				"icon": ""
			},
			"title": "Card title",
			"text": "Some quick example text to build on the card title and make up the bulk of the card's content."
		}
	%}
#}
<div class="list-item row g-3 {{ classes }}">

	<div class="list-item-thumbnail col-sm-4">
		{% if image %}
			{% render "@content-picture" with {
				classes:'aspect-ratio-widescreen aspect-ratio-sm-square aspect-ratio-md-fullscreen w-100',
				src:'placeholder'
			}  %}
		{% endif %}
	</div>

	<div class="list-item-body col-sm-8">

		<p class="list-item-categories">
			{% if categories %}
				{% render '@partials-link' with {
					classes:'list-item-tag text-uppercase',
					icon: '',
					title: categories,
					rel:'tag'
				} %}
			{% endif %}
		</p>

		<h3 class="list-item-title">
			{% render '@partials-link' with {
				classes:'',
				icon: '',
				title: title,
				rel:''
			} %}
		</h3>

		{% if meta.date %}
			<div class="list-item-date text-body-tertiary">
				{% render "@partials-date" with meta.date %}
			</div>
		{% endif %}

		{% if description %}
			<p class="list-item-text">{{ description }}</p>
		{% endif %}


	</div>
</div>
