{#
	{% include "@component-list-item" with {
			"link": {
				"aria_label": "",
				"label": "Link Text",
				"url": "#",
				"icon": ""
			},
			"title": "Card title",
			"text": "Some quick example text to build on the card title and make up the bulk of the card's content."
		}
	%}
#}
<div class="list-item row g-3">

	<div
		class="list-item-thumbnail col-sm-4">
		<!-- wp:get_the_post_thumbnail -->
		{% render "@content-picture" with {
				classes:'aspect-ratio-widescreen aspect-ratio-sm-square aspect-ratio-md-fullscreen w-100',
				src:'placeholder'
			}  %}
		<!-- /wp:get_the_post_thumbnail -->
	</div>

	<div class="list-item-body col-sm-8">

		<div
			class="list-item-categories">
			<!-- wp:the_category -->
			{% render '@partials-link' with {
				classes:'list-item-tag text-uppercase',
				icon: '',
				title: categories,
				rel:'tag'
			} %}
			<!-- /wp:the_category -->
		</div>

		<h3
			class="list-item-title">
			<!-- wp:get_the_title -->
			{% render '@partials-link' with {
				classes:'',
				icon: '',
				title: title,
				rel:''
			} %}
			<!-- /wp:get_the_title -->
		</h3>

		<div class="list-item-meta small text-body-tertiary d-flex gap-3 mb-3">
			<div class="list-item-author">
				{% render "@partials-author" with meta.author %}
			</div>

			<div class="list-item-date">
				{% render "@partials-date" with meta.date %}
			</div>
		</div>

		<p
			class="list-item-text">
			<!-- wp:get_the_excerpt -->
			{{ description }}
			<!-- /wp:get_the_excerpt -->
		</p>


	</div>
</div>
