:root {
	--site-background-color: #fff;
	--site-text-color: #000;
	--site-primary-color: #1e0342;
	--site-secondary-color: #0e46a3;
	--site-tertiary-color: #9ac8cd;
	--site-font-size: 1rem;
	--site-font-family: "Roboto", -apple-system, sans-serif;
	--site-font-line-height: 1.5;
	--site-heading-font-family: "Montserrat", -apple-system, sans-serif;
	--site-spacing-x: 1rem;
	--site-spacing-y: 1rem;
	--site-container-width: 1320px;
	--site-container-width-width: 1320px;
}
