{% render "@layouts-header" with page.header %}

<main class="container-lg article--two-column column-gap-5 py-5">
	<article>
		{% render "@partials-article-header" with {
			title: title,
			excerpt:
				excerpt,
			author: author,
			date: date,
			categories: categories
		} %}

		{% render "@partials-article-thumbnail" with featured_media %}
		{% render "@partials-article-body" %}
	</article>
	{% render "@layouts-sidebar" %}
</main>

{% render "@layouts-footer" with page.footer %}
